# Environment Variables
*.env
/venv
.gradio
datasets/csv/Rendimiento_2022_2023.csv
datasets/csv/Rendimiento_2023_2024.csv
datasets/csv/Rendimiento_2024_2025.csv
/datasets/csvClear
/data/202X0209_Rendimiento_2022_20250131
__pycache__